
.big-text {
    font-size: 45px;
}

.medium-text {
    font-size: 35px;
}

.small-text {
    font-size: 25px;
}

.little-text {
    font-size: 15px;
}

div, p, a {
    font-family: Georgia, serif;
}
